.wrapper {
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    background-image: url("Foto/milan1366x768.png");
}
.image {
    float: left;
    width: 46px;
    height: 44px;
    margin-left: 155px;
    margin-top: 49px;
}
h1 {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    float: left;
    margin-top: 49px;
    margin-left: 15px;
}
span {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}
header p {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    float: right;
    margin-top: 49px;
    margin-right: 147px;
}
.main-body {
    clear: both;
    float: left;
    margin-left: 157px;
    margin-top: 48px;
}
.main-body1 {
    float: left;
    margin-left: 69px;
    margin-top: 48px;
}
.main-body2 {
    float: left;
    margin-left: 69px;
    margin-top: 48px;
}
.main-body3 {
    clear: both;
    float: left;
    margin-left: 157px;
    margin-top: 98px;
}
.main-body4 {
    float: left;
    margin-left: 69px;
    margin-top: 98px;
}
.main-body5 {
    float: left;
    margin-left: 69px;
    margin-top: 98px;
}
.foto {
    width: 307px;
    height: 200px;
    box-shadow: 0 17px 24px 0 #000000;
}
.bod {
    width: 307px;
    height: 200px;
}
.gradient {
    width: 312px;
    height: 205px;
    border-top: 2px solid #ffffff;
}
.text-after {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 22px;
}
footer {
    clear: both;
}
.end {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    float: left;
    margin-left: 512px;
    margin-top: 90px;
}
.title:hover .image {
    content: url("Foto/logo.png");
}
.title:hover h1 {
    color: #f26522;
}
.title:hover span {
    color: #f26522;
}
.main-body:hover .text-after{
    color: #f26522;
}
.main-body1:hover .text-after{
    color: #f26522;
}
.main-body2:hover .text-after{
    color: #f26522;
}
.main-body3:hover .text-after{
    color: #f26522;
}
.main-body4:hover .text-after{
    color: #f26522;
}
.main-body5:hover .text-after{
    color: #f26522;
}
.animation {
    width: 310px;
    height: 63px;
    background-color: darkorange;
    color: white;
    position: relative;
    opacity: 0;
    margin: 0 auto;
}
.main-body:hover .animation {
    transform: translateY(-66px);
    transition-duration: 1s;
    opacity: 1;
}
.main-body1:hover .animation {
    transform: translateY(-66px);
    transition-duration: 1s;
    opacity: 1;
}
.main-body2:hover .animation {
    transform: translateY(-66px);
    transition-duration: 1s;
    opacity: 1;
}
.main-body3:hover .animation {
    transform: translateY(-66px);
    transition-duration: 1s;
    opacity: 1;
}
.main-body4:hover .animation {
    transform: translateY(-66px);
    transition-duration: 1s;
    opacity: 1;
}
.main-body5:hover .animation {
    transform: translateY(-66px);
    transition-duration: 1s;
    opacity: 1;
}
.main-body {
    background-image: linear-gradient(#ffffff 30%, #000000);
    width: 309px;
    height: 205px;
}
.bod {
    margin: 2px;
}
.main-body1 {
    background-image: linear-gradient(#ffffff 30%, #000000);
    width: 309px;
    height: 205px;
}
.main-body2 {
    background-image: linear-gradient(#ffffff 30%, #000000);
    width: 309px;
    height: 205px;
}
.main-body3 {
    background-image: linear-gradient(#ffffff 30%, #000000);
    width: 309px;
    height: 205px;
}
.main-body4 {
    background-image: linear-gradient(#ffffff 30%, #000000);
    width: 309px;
    height: 205px;
}
.main-body5 {
    background-image: linear-gradient(#ffffff 30%, #000000);
    width: 309px;
    height: 205px;
}
.foto {
    width: 307px;
    height: 200px;
    overflow: hidden;
}
.first-word {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    float: left;
    margin-left: 21px;
    margin-top: 10px;
}
.price {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    clear: both;
    float: left;
    margin-left: 21px;
    margin-top: -5px;
}
.detal {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    float: right;
    margin-right: 15px;
    margin-top: -5px;
}
.detal:after {
    content: "\00A0\00A0\203a";
}